
<style>
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>

<body>

<div class="image">


  <div style="text-align:center">
    <h1 style="color: #00b33c;">
      {{ title }}
    </h1>
  </div>
  <form>
    <!--#val="ngForm" (ngSubmit)="Show(val.value)"-->
    <div class="form-group" align="center" style="padding-left: 20px; padding-top: 30px; color: black">
      <label style="font-size: larger;color: black;font-stretch: expanded">Enter State Code: </label>
      <input type="text" name="code" class="form-control" [(ngModel)]="code">
      <br>
      <br>
      <label style="font-size: larger;color: black;">Enter City Name: </label>
      <input type="text" name="city" class="form-control" [(ngModel)]="city">
    </div>
    <br>
    <br>
    <div style="padding-left: 120px;" align="center">
      <button class="button"  (click)="Show()">
        SHOW DETAILS</button>
    </div>
  </form>
  <br>
  <br>
  <br>
  <div class="article-container" style=" width: 100%; color: green;font-size: large;">
    <div class="article" align="left"  style="padding-left: 200px; width: 50%; color:black">
      <label>Area : </label> {{value1.name}}
      <br>
      <br>
      <label>Country : </label> {{value1.sys.country }}
      <br>
      <br>
      <label>Temperature : </label> {{value1.main.temp}} F
      <br>
      <br>
      <label>Humidity : </label> {{value1.main.humidity }}
      <br>
      <br>
      <label>Wind_Speed: </label> {{value1.wind.speed }} MPH
      <br>
      <br>
      <label>Pressure : </label> {{value1.main.pressure }} MB
      <br>
      <br>
    </div>

    <br>
    <br>
    <br>
    <div class="article" align="center"  style=" width: 100%;" style="color: black">
      <label>Temperature after 3 hours : </label> {{value2.list[0].main.temp}} F
      <br>
      <label>Humidity after 3 hours : </label> {{value2.list[0].main.humidity}}
      <br>
      <br>
      <label>Temperature after 6 hours : </label> {{value2.list[1].main.temp}} F
      <br>
      <label>Humidity after 6 hours : </label> {{value2.list[1].main.humidity}}
      <br>
      <br>
      <label>Temperature after 9 hours : </label> {{value2.list[2].main.temp}} F
      <br>
      <label>Humidity after 9 hours : </label> {{value2.list[2].main.humidity}}
      <br>
      <br>
      <label>Temperature after 12 hours : </label> {{value2.list[3].main.temp}} F
      <br>
      <label>Humidity after 12 hours : </label> {{value2.list[3].main.humidity}}
      <br>
      <br>
    </div>
  </div>
</div>
</body>


